@font-face{
    font-family: 'ExtraBold';
    src: url(../fonts-Roboto/Roboto-ExtraBold.ttf);
}
body{
    
}

.p1{
    background-color: #1f2937;
    padding: 15px  155px 0px 155px;
}
.logo-links{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;

}
.links a{
    font-size: 18px;

    padding: 0 15px;
    color: #e5e7eb;
    text-decoration:none ;
}
.description .des-text{
    margin-top: -50px;
    
}

.description .des-text .text2{
    font-size: 18px;
    margin-top: -30px;
    color: #e5e7eb;
}
.description .des-text .text1{
    color: #f9faf8;
    font-size: 48px;
    font-family: 'ExtraBold';
}
.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
