img{
    height: 2000px;
    width:150px;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.links a{
    color:black;
    text-decoration: none;
    padding: 0px 15px;
}
.page{
    padding: 10px 155px;
    background-color: #1f2937;
}
